<div class="section-1_block" [ngStyle]="mainBlock">
    <img [ngStyle]="styles" class="section-1_images" src="{{data.image}}" alt="This is a image">
    <div>
        @for(item of featuredPost; track item){
        <span [ngStyle]="DataStyles">
            <span>By <a>{{item.name}}</a></span> {{data.date}}
        </span>
        }
        <h5 [ngStyle]="DataType">{{data.type}}</h5>
        <h2 [ngStyle]="titleStyle">{{data.title}}</h2>
        <p [ngStyle]="titleStyle">{{data.description}}</p>
    </div>
</div>