<div class="section-1_block" [ngStyle]="mainBlock">
    <img [ngStyle]="styles" class="section-1_images" src="{{BlogAllPosts.image}}" alt="This is a image">
    <div>
        @if(featuredPost){
        <span [ngStyle]="DataStyles">
            <span>By <a>{{featuredPost.name}}</a></span> {{BlogAllPosts.date}}
        </span>
        }
        <h5 [ngStyle]="DataType">{{BlogAllPosts.type}}</h5>
        <h2 [ngStyle]="titleStyle">{{BlogAllPosts.title}}</h2>
        <p [ngStyle]="titleStyle">{{BlogAllPosts.description}}</p>
    </div>
</div>