<header class="author-header">
    <div class="container">
        <div class="author-header_block">
            @if(author){
            <div>
                <img class="main_img" src="{{author.image}}" alt="This is a image">
            </div>
            <div class="author-header_texts">
                <h2>Hey there, I’m {{author.name}} and welcome to my Blog</h2>
                <p>{{author.about_Author_description_1}}</p>
                <div class="author-header_icones">
                    <a><img src="assets/img/fb.png" alt="This is a icone"></a>
                    <a><img src="assets/img/tw.png" alt="This is a icone"></a>
                    <a><img src="assets/img/insta.png" alt="This is a icone"></a>
                    <a><img src="assets/img/LI.png" alt="This is a icone"></a>
                </div>
            </div>
            }
        </div>
        <div class="author-header_colors">
            <div class="author-header_yellow-block"></div>
            <div class="author-header_blue-block"></div>
        </div>
    </div>
</header>


<main>
    <div class="container">
        <section class="author-section-1">
            <h2>My Posts</h2>
            <div>
                <div>
                    @for(item of BlogAllPosts; track item){
                    <!-- @if(item?.name === author?.name){ -->
                    @if(item && author && item.name === author.name){
                    <!-- <app-blog-all-posts [BlogAllPosts]="item"></app-blog-all-posts> -->
                    <img src="{{item.image}}" alt="image">
                    <div>
                        <h3>{{item.type}}</h3>
                        <h2 [routerLink]="['/layout/blog-post/', id]">{{item.title}}</h2>
                        <p>{{item.description}}</p>
                    </div>
                    }
                    }@empty {
                    <h2>There is no items</h2>
                    }
                </div>
            </div>
        </section>
    </div>
</main>