<footer>
    <div class="container">

        <div class="logoAndToolbar">
            <img src="assets/img/Logo.png" alt="This is a logo">
            <div>
                <a href="#">Home</a>
                <a href="#">Blog</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Pravicy Policy</a>
            </div>
        </div>

        <div class="footerSecondBlock">
            <h2>
                Subscribe to our news letter to get latest updates and news
            </h2>
            <div class="footerSecondBlock_secondBlock">
                <form method="get">
                    <input type="text" placeholder="Enter Your Email">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>

        <div class="footerLastBlock">
            <div>
                <p>Finstreet 118 2561 Fintown</p>
                <p>Hello&#64;finsweet.com 020 7993 2905</p>
            </div>
            <div>
                <a href="#"><img src="assets/img/footer-fb.png" alt="This is a social icones "></a>
                <a href="#"><img src="assets/img/footer-tw.png" alt="This is a social icones "></a>
                <a href="#"><img src="assets/img/footer-insta.png" alt="This is a social icones "></a>
                <a href="#"><img src="assets/img/footer-linkdin.png" alt="This is a social icones "></a>
            </div>
        </div>
    </div>
</footer>