<header class="contact_header">
    <div class="container">
        <div class="header-div1">
            <h3>Contact us</h3>
            <h2>Let’s Start a Conversation</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim.
            </p>
        </div>

        <div class="header-purple-block">
            <div>
                <div>
                    <h3>Working hours</h3>
                </div>
                <h2>Monday To Friday</h2>
                <h2>9:00 AM to 8:00 PM </h2>
                <p>Our Support Team is available 24/7</p>
            </div>
            <div>
                <div>
                    <h3>Contact Us</h3>
                </div>
                <h2>020 7993 2905</h2>
                <p>hello&#64;finsweet.com</p>
            </div>
        </div>
        <form method="post" [formGroup]="form" (submit)="submitForm()">
            <input placeholder="Full Name" type="text" formControlName="name">
            <input placeholder="Your Email" type="email" formControlName="email">
            <select formControlName="QueryRelated">
                <option value="" disabled selected>Query Related</option>
            </select>
            <input class="message-input" placeholder="Message" type="text" formControlName="message">
            <button class="form-button" type="submit">Send Message</button>
        </form>
    </div>
</header>