<div class="section-5_display-flex">
    <div>
        <img src="{{item.image}}" alt="This is a image">
        <h3 [routerLink]="['/layout/blog-post/', item.id]">{{item.name}}</h3>
        <p>{{item.text}}</p>
        <div class="section-5_icones">
            <a><img src="{{item.icone_1}}" alt="icone"></a> 
            <a><img src="{{item.icone_2}}" alt="icone"></a>
            <a><img src="{{item.icone_3}}" alt="icone"></a>
            <a><img src="{{item.icone_4}}" alt="icone"></a>
        </div>
    </div>
</div>