<!-- <div class="section-5_blocks"> -->
    <div class="section-5_display-flex">
        <div>
            <img src="{{data.image}}" alt="This is a image">
            <h3>{{data.header}}</h3>
            <p>{{data.text}}</p>
            <div class="section-5_icones">
                <a><img src="{{data.icone_1}}" alt="icone"></a>
                <a><img src="{{data.icone_2}}" alt="icone"></a>
                <a><img src="{{data.icone_3}}" alt="icone"></a>
                <a><img src="{{data.icone_4}}" alt="icone"></a>
            </div>
        </div>
    </div>
<!-- </div> -->