<div class="section-5_display-flex">
    <div>
        <img class="img" src="{{item.image}}" alt="This is a image">
        <h3 [routerLink]="['/layout/authors/', item.id]">{{item.name}}</h3>
        <p>{{item.text}}</p>
        <div class="section-5_icones">
            <a><img src="assets/img/fb.png" alt="icone"></a> 
            <a><img src="assets/img/tw.png" alt="icone"></a>
            <a><img src="assets/img/insta.png" alt="icone"></a>
            <a><img src="assets/img/LI.png" alt="icone"></a>
        </div>
    </div>
</div>