<header class="blog-header">
    <div class="container">
        <div class="header-display">
            @for(item of featuredPost; track item){
            <div>
                <h3>Featured Post</h3>
                <h2>Step-by-step guide to choosing great font pairs</h2>
                <p>By <span>{{item.name}}</span> l May 23, 2022 </p>
                <span>
                    {{item.description}}
                </span>
                <a class="yellow-button" routerLink="/layout/blog-post">Read More ></a>
            </div>
            <div class="blog-header_image">
                <img src="{{item.image}}" alt="This ia a image">
            </div>
            }
        </div>
    </div>
</header>
<main>
    <div class="container">
        <section class="section-1">
            <div>
                <h2>All posts</h2>
            </div>
            @for(item of BlogAllPosts; track item){
            <app-blog-all-posts [data]="item"></app-blog-all-posts>
            }
            <div class="section-1_prevbAndNextb">  
                <h4>&lt; Prev</h4>
                <h3>Next ></h3>
            </div>
        </section>
        <section class="section-2">
            <h2>Choose A Category</h2>
            <div class="section-2_display-flex">
                @for(item of Category; track item){
                <app-category [data]="item"></app-category>
                }@empty {
                <h2>there is no items</h2>
                }
            </div>
        </section>
        <app-join-our-team></app-join-our-team>
    </div>
</main>



<router-outlet></router-outlet>