<app-nav></app-nav>
<header>
    <div class="container">
        @if(author10){
        <div>
            <h3>Posted on <span>{{author10.category}}</span></h3>
            <h1>{{author10.slogan}}</h1>
            <p>By <span>{{author10.name}}</span> | {{author10.date}}</p>
            <span>{{author10.description}}</span>
            <a class="yellow-button" routerLink="/layout/blog-post">Read More ></a>
        </div>
        }
    </div>
</header>
<main>
    <div class="container">
        <section class="section-1">
            <div class="section-1_firstDiv">
                <h2>Featured Post</h2>
                <div class="section-1_firstDiv_border">
                    @if(featuredPost){
                    <div>
                        <img src="{{featuredPost.featuredPost}}" alt="This is a image">
                        <p>By<span> {{featuredPost.name}}</span> {{featuredPost.date}}</p>
                        <h3>{{featuredPost.title}} </h3>
                        <p>{{featuredPost.description}} </p>
                        <a class="yellow-button" routerLink="/layout/blog">Read More ></a>
                    </div>
                    }
                </div>
            </div>
            <div class="section-1_secondDiv">
                <div class="section-1_secondDiv_div1">
                    <h2>All Posts</h2>
                    <a routerLink="/layout/blog">View all</a>
                </div>
                <div class="section-1_secondDiv_blocks">
                    @for(item of BlogAllPosts; track item){
                    <div>
                        <p>by <span>{{item.name}}</span> | {{item.date}}</p>
                        <h2 [routerLink]="['/layout/blog-post/', item.id]">{{item.title}}</h2>
                    </div>
                    }@empty {
                    <h2>There are no items</h2>
                    }
                </div>
            </div>
        </section>

        <!-- section-2 -->
        <!-- section-3 -->

        <section class="section-2">
            <div class="section-2_colorBlocks">
                <div class="yellow_Block"></div>
                <div class="blue_Block"></div>
            </div>
            <div class="section-2_grayBlock">
                <div>
                    <h3>ABOUT US</h3>
                    <p>We are a community of content writers who share their learnings</p>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </span>
                    <a routerLink="/layout/about-us">Read More ></a>
                </div>

                <div>
                    <h3>OUR MISION</h3>
                    <p>Creating valuable content for creatives all around the world</p>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </span>
                </div>
            </div>
        </section>

        <!-- section-2 -->
        <!-- section-3 -->

        <section class="section-3">
            <h2>Choose A Category</h2>
            <div class="section-3_display-flex">
                @for(item of categories; track item){
                <app-category [data]="item"></app-category>
                }@empty {
                <h2>There are no items</h2>
                }
            </div>
        </section>

        <!-- section-3 -->
        <!-- section-4 -->

        <section class="section-4">
            <div class="section-4_displayFlex">
                <div>
                    <h2>WHY WE STARTED</h2>
                    <h3>It started out as a simple idea and evolved into our passion</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip.
                    </p>
                    <a routerLink="/layout/about-us">Discover our story ></a>
                </div>
            </div>
        </section>

        <!-- section-4 -->
        <!-- section-5 -->

        <section class="section-5">
            <h2>List of Authors</h2>
            <div class="section-5_display-flex">
                @for(item of authors; track item){
                <app-authors [item]="item"></app-authors>
                }@empty {
                <h2>There are no items</h2>
                }
            </div>
            <div class="section-5_secondDiv">
                <p>We are</p>
                <div>
                    <h3>Featured in</h3>
                    <a><img src="assets/img/Logo1.png" alt="This is a logo"></a>
                    <a><img src="assets/img/Logo2.png" alt="This is a logo"></a>
                    <a><img src="assets/img/Logo3.png" alt="This is a logo"></a>
                    <a><img src="assets/img/Logo4.png" alt="This is a logo"></a>
                    <a><img src="assets/img/Logo5.png" alt="This is a logo"></a>
                </div>
            </div>
        </section>

        <!-- section-5 -->
        <!-- section-6 -->

        <div class="swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @for(item of allAuthors; track item){
                    <div class="swiper-slide">
                        <section class="section-6">

                            <div class="section-6_firstDiv">
                                <h3>TESTIMONIALs</h3>
                                <h2>What people say about our blog</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                            <div class="section-6_secondDiv">
                                <h4>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                                </h4>
                                <div>
                                    <img src={{item.image}} alt="This is a profile photo">
                                    <div>
                                        <h4 routerLink="/layout/authors">{{item.name}}</h4>
                                        <h3>New york, USA</h3>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    }
                </div>
                <button class="swiper-button-prev" (click)="prevSlide()"></button>
                <button class="swiper-button-next" (click)="nextSlide()"></button>
            </div>
        </div>

        <app-join-our-team></app-join-our-team>
    </div>
</main>
<app-footer></app-footer>