header {
    padding: 128px 0 192px;
    background: url('../../../assets/img/header-image.png'), radial-gradient(71.59% 72.01% at 75% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%);
    background-blend-mode: multiply;
    background-size: 100%;
    background-repeat: no-repeat;

}

header>.container>div {
    padding: 0 40% 0 0;
}

header>div>div>h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h1 {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Sen;
    font-size: clamp(16px, 5vw, 56px);
    line-height: 64px;
    letter-spacing: -2px;
    margin: 24px 0;
}

header>div>div>p {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    line-height: 28px;
}

header>div>div>span {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
    display: block;
}

header>div>div>p>span {
    color: #FFD050;
}

header>div>div>h3>span {
    color: #FFF;
    font-family: Inter;
    font-size: clamp(14px, 5vw, 16px);
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}



.section-1 {
    display: flex;
    justify-content: space-evenly;
}

.section-1_firstDiv_border {
    border: 1px solid rgb(109 110 118 / 10%);
    padding: 32px;
}

.section-1_firstDiv_border>div>img {
    width: clamp(280px, 50vw, 500px);
}

.section-1_firstDiv>h2 {
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    margin-bottom: 32px;
}

.section-1_firstDiv>.section-1_firstDiv_border>div>p {
    color: #4C4C4C;
    font-family: Inter;
    font-size: 14px;
    margin: 32px 0 0;
    width: clamp(280px, 50vw, 551px);
}

.section-1_firstDiv>.section-1_firstDiv_border>div>p>span {
    color: rgb(89, 46, 169);
    font-family: Inter;
    font-size: 14px;
    margin: 32px 0 0;
    width: clamp(280px, 50vw, 551px);
}

.section-1_firstDiv>.section-1_firstDiv_border>div>h3 {
    color: #232536;
    font-family: Sen;
    font-size: 28px;
}

.section-1_firstDiv_border>div {
    width: clamp(280px, 50vw, 669px);
}

/* section-1_secondDiv */

.section-1_secondDiv_blocks{
    overflow-x: auto;
    max-height: 622px;
}
.section-1_secondDiv>div>h2 {
    color: #232536;
    font-family: Sen;
    font-size: 36px;

}

.section-1_secondDiv_div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    
}

.section-1_secondDiv>div>a {
    color: #592EA9;
    font-family: Inter;
    font-size: 16px;
    text-decoration: none;
}

/* section-1 */
/* section-2 */



.section-2_colorBlocks {
    display: flex;
    justify-content: flex-end;
}

.yellow_Block {
    width: 70%;
    height: 23px;
    background-color: #FFD050;
}

.blue_Block {
    width: 30%;
    height: 23px;
    background-color: #592EA9;
}

.section-2_grayBlock {
    display: flex;
    background-color: #F4F0F8;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 96px 0;
    align-content: center;
}

.section-2_grayBlock>div>h3 {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 0 0 24px 0;
}

.section-2_grayBlock>div>p {
    color: #232536;
    font-family: Sen;
    font-size: clamp(24px, 5vw, 36px);
    font-weight: 700;
    line-height: 48px;
    line-height: clamp(30px, 5vw, 48px);
    letter-spacing: -2px;
    width: clamp(280px, 34vw, 487px);
}

.section-2_grayBlock>div>span {
    width: clamp(280px, 34vw, 515px);
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    line-height: clamp(20px, 5vw, 28px);
    display: block;
    margin: 16px 0;
}

.section-2_grayBlock>div>a {
    color: #592EA9;
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

/* section-2 */
/* section-3 */


.section-3>h2 {
    text-align: center;
    color: #232536;
    font-family: Sen;
    font-size: 28px;
    letter-spacing: -1px;
    margin: 0 0 48px 0;
}

.section-3_display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* section-3 */
/* section-4 */



.section-4 {
    background-image: url(../../../assets/img/close-up-photography-of-man-wearing-sunglasses-1212984.png);
    background-repeat: no-repeat;
    padding: 121px 0 0;
}

.section-4_displayFlex {
    display: flex;
    justify-content: flex-end;
}

.section-4>div>div {
    padding: 80px;
    background-color: #FFF;
}

.section-4_displayFlex>div>h2 {
    margin-bottom: 24px;
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 3px;
}

.section-4_displayFlex>div>h3 {
    color: #232536;
    font-family: Sen;
    font-size: clamp(24px, 5vw, 48px);
    letter-spacing: -2px;
    width: clamp(280px, 60vw, 546px);
    margin-bottom: 16px;
}

.section-4_displayFlex>div>p {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    line-height: clamp(20px, 5vw, 28px);
    width: clamp(280px, 50vw, 546px);
    margin-bottom: 32px;
}

.section-4_displayFlex>div>a {
    padding: 16px 48px;
    background-color: #FFD050;
    border: none;
    color: #232536;
    font-family: Sen;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}


.section-5>h2 {
    text-align: center;
    color: #232536;
    font-family: Sen;
    font-size: clamp(24px, 5vw, 36px);
    line-height: 48px;
    letter-spacing: -2px;
}

.section-5_display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 48px 0 0;
}


.section-5_secondDiv {
    margin-top: 96px;
}

.section-5_secondDiv>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-5_secondDiv>p {
    color: #6D6E76;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
}

.section-5_secondDiv>div>h3 {
    color: #6D6E76;
    font-family: Sen;
    font-size: 24px;
}

.section-5_secondDiv>div>a {
    margin: 0 10px;
}
/* 

.section-6 {
    display: flex;
    justify-content: center;
    background-color: #FBF6EA;
    padding: 80px 20px;
}

.section-6_firstDiv {
    border-right: 2px solid rgb(109 110 118 / 40%);
    padding: 0 80px 0 0;
}

.section-6_firstDiv>h3 {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    margin: 0 0 12px;
}

.section-6_firstDiv>h2 {
    width: clamp(280px, 5vw, 346px);
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    margin: 0 0 12px;
}

.section-6_firstDiv>p {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    line-height: 28px;
    width: clamp(280px, 50vw, 349px);
}

.section-6_secondDiv {
    margin: 0 0 0 96px;
}

.section-6_secondDiv>h4 {
    width: clamp(280px, 50vw, 469px);
    color: #232536;
    font-family: Sen;
    font-size: 24px;
    line-height: 40px;
}

.section-6_secondDiv>div {
    display: flex;
    margin-top: 121px;
    justify-content: space-between;
}

.section-6_secondDiv>div>img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.section-6_secondDiv>div>div>div>h4 {
    color: #232536;
    font-family: Sen;
    font-size: 24px;
    line-height: 32px;
}
.section-6_secondDiv>div>div{
    display: flex;
    align-items: center;
}

.section-6_secondDiv>div>div>div{
    margin: 0 0 0 15px;
}
.section-6_secondDiv>div>div>img{
    width: 48px;
}
.section-6_secondDiv>div>div>div>h3 {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: auto;
}

.section-6_secondDiv>div>div>button {
    border: none;
    background-color: #fbf6ea;
    cursor: pointer;
}

.section-6_backButton {
    margin: 0 7px 0 141px;
} */



.section-6 {
    display: flex;
    justify-content: center;
    background-color: #FBF6EA;
    padding: 80px 20px;
}

.section-6_firstDiv {
    border-right: 2px solid rgb(109 110 118 / 40%);
    padding: 0 80px 0 0;
}

.section-6_firstDiv>h3 {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    margin: 0 0 12px;
}

.section-6_firstDiv>h2 {
    width: clamp(280px, 5vw, 346px);
    color: #232536;
    font-family: Sen;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    margin: 0 0 12px;
}

.section-6_firstDiv>p {
    color: #232536;
    font-family: Inter;
    font-size: 16px;
    line-height: 28px;
    width: clamp(280px, 50vw, 349px);
}

.section-6_secondDiv {
    margin: 0 0 0 96px;
}

.section-6_secondDiv>h4 {
    width: clamp(280px, 50vw, 469px);
    color: #232536;
    font-family: Sen;
    font-size: 24px;
    line-height: 40px;
}

.section-6_secondDiv>div {
    display: flex;
    margin-top: 121px;
}

.section-6_secondDiv>div>img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.section-6_secondDiv>div>div>h4 {
    color: #232536;
    font-family: Sen;
    font-size: 24px;
    line-height: 32px;
}

.section-6_secondDiv>div>div>h3 {
    color: #6D6E76;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}


.swiper-container{
    overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    color: rgb(255 255 255 / 0%);
}


.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}


.swiper-button-prev {
    background-image: url('../../../assets/img/Backbutton.png');
    background-size: cover;
    /* left: 75%; */
    left: auto;
    right: 20%;
    top: auto;
    bottom: 9%; 
}

.swiper-button-next {
    right: 16%;
    top: auto;
    bottom: 9%;
    background-image: url('../../../assets/img/NextButton.png');
    background-size: cover;
}

.swiper{
    position: relative;
}



@media screen and (max-width:1370px) {
    header {
        padding: 110px 0;
    }
    .swiper-button-next{
        right: 12%;
    }
    .swiper-button-prev{
        left: auto;
        right: 17%;
    }
}

@media screen and (max-width:1230px) {
    header {
        padding: 72px 0;
    }

    header>.container>div {
        padding: 0;
    }
    .section-1 {
        flex-wrap: wrap;
    }

    .section-1_firstDiv_border {
        text-align: center;
    }

    .section-1_firstDiv>.section-2_firstDiv_border>div>p {
        margin: 15px auto;
    }

    .section-1_firstDiv>.section-2_firstDiv_border>div>h3 {
        margin: 0 auto;
    }

    .section-1_firstDiv>h2 {
        text-align: center;
    }

    .section-1_secondDiv_div1 {
        margin-bottom: 50px;
    }

    .section-6 {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .section-6_firstDiv {
        border: none;
        text-align: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 20px
    }

    .section-6_secondDiv {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        align-items: center;
    }

    .section-6_secondDiv>div {
        margin: 0;
    }

    .section-6_secondDiv>h4 {
        text-align: center;
    }

}

@media screen and (max-width:1070px) {
    header {
        padding: 45px 0;
    }
    .section-1_firstDiv>h2 {
        margin-bottom: 50px;
    }

    .section-2_grayBlock {
        flex-direction: column;
        text-align: center;
    }

    .section-2_grayBlock>div>a {
        margin: 20px 0;
        display: inline-block;
    }
    .swiper-button-prev {
        bottom: 0;
        left: 40%;
        right: auto;
    }
    .swiper-button-next {
        bottom: 0;
        right: 40%;
        left: auto;
    }
}

@media screen and (max-width:950px) {
    header {
        padding: 35px 0;
    }

    h1 {
        margin: 12px 0;
        line-height: normal;
    }
    .section-4 {
        background-image: none;
        padding: 20px;
    }

    .section-4_displayFlex>div>h2 {
        margin: 0;
    }

    .section-4>div>div {
        background-color: #F4F0F8;
    }

    .section-4_displayFlex {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:845px) {
    header {
        padding: 27px 0;
    }

    h1 {
        margin: 0;
    }
    /* .section-1_firstDiv_border>div>img {
        width: 400px;
    } */

    .section-1_firstDiv>.section-2_firstDiv_border>div>p {
        width: auto;
    }

    .section-1_firstDiv>.section-2_firstDiv_border>div>h3 {
        width: auto;
    }

    .section-1_secondDiv_blocks {
        padding: 10px;
    }

    .section-6_secondDiv>div {
        flex-direction: column;
        align-items: center;
    }

    .section-6_secondDiv>div>button {
        margin: 5px 0;
    }
    .section-6_secondDiv{
        text-align: center;
    }
}

@media screen and (max-width:640px) {

    header {
        padding: 47px 0;
    }

    header>div>div>h3 {
        font-size: 16px;
    }

    header>div>div>span {
        display: none;
    }
    .section-2_grayBlock {
        padding: 20px 0;
    }

    .section-4>div>div {
        padding: 15px;
    }

    .section-4_displayFlex>div>a {
        display: inline-block;
        margin-bottom: 10px;
    }

    .section-5_secondDiv>div {
        flex-direction: column;
        align-items: center;
    }

    .section-5_secondDiv>div>a {
        margin: 10px;
    }

    .section-5_secondDiv>div>h3 {
        text-align: center;
    }
}

@media screen and (max-width:530px) {
    header {
        padding: 22px 0;
    }

    h1 {
        letter-spacing: normal;
    }

    header>div>div>p {
        display: none;
    }
    .section-1_firstDiv>h2 {
        margin-bottom: 0;
    }

    .section-1_firstDiv>.section-2_firstDiv_border>div>h3 {
        line-height: normal;
        font-size: 24px;
    }

    .section-1_secondDiv_div1 {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .section-1_firstDiv_border {
        padding: 5px;
    }

    .section-6 {
        padding: 50px 5px;
    }
    .swiper-button-prev {
        bottom: -3%;
        left: 35%;
        right: auto;
    }
    .swiper-button-next {
        bottom: -3%;
        right: 35%;
        left: auto;
    }
}












