<div class="nav">
    <div class="container d-f_jc-b_at_c">
        <a routerLink="/home">
            <img class="nav_logo" src="assets/img/Logo.png" alt="This is a logo">
        </a>

        <input type="checkbox" name="check" id="check">
        <label for="check" class="icones">
            <!-- <i class='bx bx-menu' id="menu-icone"></i> -->
            <!-- <i class='bx bx-x' id="close-icone"></i> -->
            <img class="mobile-menu-icone" src="assets/img/mobileIcone.png" alt="image">
        </label>

        <nav class="navbar">
            <a class="navbar_aTegs" routerLink="/blog">Blog</a>
            <a class="navbar_aTegs" routerLink="/about-us"> About Us </a>
            <a class="navbar_aTegs" routerLink="/contact">Contact us</a>

            <a href="#" id="navbar_button">
                Subscribe
            </a>
        </nav>
    </div>

</div>
<div class="nav_underBlock"> </div>