<header class="BlogPost_header">
    <div class="container">
        <div class="blog-header_display">
            <div class="blog-header_firstDiv">
                <img class="header-firstImg" src="assets/img/Profilepicture.png" alt="This is a image">
                <div>
                    <h3>Andrew Jonson</h3>
                    <p>Posted on 27th January 2022</p>
                </div>
            </div>
            <h2>Step-by-step guide to choosing great font pairs</h2>
            <div class="blog-header_secondDiv">
                <img src="assets/img/icon2.png" alt="This is a icone">
                <h4>Startup</h4>
            </div>
        </div>
        <img class="blogPost-image" src="assets/img/photo-of-woman-wearing-eyeglasses-3184405.png"
            alt="This is a photo">
    </div>
</header>

<main>
    <div class="container">
        <!-- <section class="blogPost_section-1"></section> -->
        <section class="blogPost_section-2">
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
                    blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
                    At risus viverra adipiscing at in tellus. Sociis natoque penatibus
                    et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
                    leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
                    gravida rutrum quisque non.
                </p>
            </div>
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
                    blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
                    At risus viverra adipiscing at in tellus. Sociis natoque penatibus
                    et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
                    leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
                    gravida rutrum quisque non.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
                    blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
                    At risus viverra adipiscing at in tellus. Sociis natoque penatibus
                    et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
                    leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
                    gravida rutrum quisque non.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Non blandit massa enim nec scelerisque</li>
                    <li>Neque egestas congue quisque egestas</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
                    blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
                    At risus viverra adipiscing at in tellus. Sociis natoque penatibus
                    et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
                    leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
                    gravida rutrum quisque non.
                </p>
            </div>
            <div>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
                    blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
                    At risus viverra adipiscing at in tellus. Sociis natoque penatibus
                    et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies
                    leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
                    gravida rutrum quisque non.
                </p>
            </div>
        </section>
        <!-- section-2 -->
        <!-- section-3 -->
        <section class="blogPost_section-3">
            <h2>What to read next</h2>
            <div class="blogPost-section-3_display">
                <div>
                    @for(item of blogPosts; track item){
                        <app-blog-all-posts [titleStyle]="{width: 'clamp(280px ,50vw, 405px)'}"
                            [styles]="{width: 'clamp(280px ,50vw, 405px)'}"
                            [mainBlock]=" {flexDirection: 'column', width: 'clamp(280px ,50vw, 405px)', margin: '0 10px'}"
                            [data]="item">
                        </app-blog-all-posts>
                    }
                </div>
            </div>
        </section>

        <app-join-our-team></app-join-our-team>
    </div>
</main>