<!-- @for(item of authors;track item){
    <h2>{{item.name}}</h2>
} -->


<header class="BlogPost_header">
    <div class="container">
        <div class="blog-header_display">
            <div class="blog-header_firstDiv">
                <img class="header-firstImg" [src]="authors?.image" alt="This is a image">
                <div>
                    <h3>{{authors?.name }}</h3>
                    <p>{{authors?.date}}</p>
                </div>
            </div>
            <h2>{{authors?.slogan}}</h2>
            <div class="blog-header_secondDiv">
                <img [src]="authors?.categoryeIcon" alt="This is a icone">
                <h4>{{authors?.category}}</h4>
            </div>

        </div>
        <img class="blogPost-image" [src]="authors?.mainImage"
            alt="This is a photo">
    </div>
</header>

<main>
    <div class="container">
        <section class="blogPost_section-2">
            <div [ngStyle]="{ 'width': 'clamp(280px, 50vw, 843px)', 'fontFamily': 'Inter'}" [innerHTML]="authors?.aboutAuthor"></div>
        </section>
        
        <!-- section-2 -->
        <!-- section-3 -->
        <section class="blogPost_section-3">
            <h2>What to read next</h2>
            <div class="blogPost-section-3_display">
                <div>
                    @for(item of blogPosts; track item){
                    <app-blog-all-posts [titleStyle]="{width: 'clamp(280px ,50vw, 405px)'}"
                        [styles]="{width: 'clamp(280px ,50vw, 405px)'}"
                        [mainBlock]=" {flexDirection: 'column', width: 'clamp(280px ,50vw, 405px)', margin: '0 10px'}"
                        [data]="item">
                    </app-blog-all-posts>
                    }
                </div>
            </div>
        </section>
        <app-join-our-team></app-join-our-team>
    </div>
</main>